.addmenubox{
    width:100%;
    height:100%;
    background : rgba(0,0,0,0.5);
    position: absolute;
    top :0px;
    z-index: 10;
}

.addmenuposition{
    width:100%;
    height:100%;
    position: relative;
}

.addmenu{
    position: absolute;
    bottom:0px;
    width:100%;
    height:10%;
    z-index: 12;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.addmenulist{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 0.8fr 0.2fr;
}
.addmenuicon{
    position:relative;
    width:100%;
    height:100%;
}
.addmenuicon img{
    position:absolute;
    height:auto;
    width:25%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    
}

.addmenuname{
    width:100%;
    height:100%;
    position: relative;
  
}

.addmenuname span{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    text-align: center;
}
